*{
  // outline: 1px solid black;
}
.about {
  padding:0 1.5rem;
  .container {
    padding: 0;
    .text-container {
      max-width: 60rem;
      margin:5rem auto;
      // width: 60rem;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      p a{
        cursor: help;
      }
    }
  }
}
.skills {
  padding: 0 1.5rem;
  background-image: url("../img/greyzz/greyzz.png");
  .container {
    padding:6rem 0;
    padding-top: 8rem;
    .text-container {
      max-width: 80rem;
      margin: 0 auto;
      // margin:6rem auto;
      .grid{
        .col-12{
          padding-right: 0;
          h3 {
            text-align: center;
          }
        }
        
        .col-4{
          ul {
            list-style:none;
            li {
              &:before {
                // content: "";
                // display: inline-block;
                // position: absolute;
                // left: -1em;
                // color: #00c7ba;
              }
            }
          }
          img{
            width: 100%;
            opacity: 0.65;
          }
          &:last-of-type{


            padding-left: 7rem;
          }
        }
      }
    }
  }
}

@media (max-width:680px) {

  .about {
    .container {
      // padding: 0 3rem;
      // background-color: red;
      .text-container {

          h3{
            text-align: center;

        }
        // width: 100%;
        // margin: 0 3rem;
        // position: relative;
        p a{
        }
      }
    }
  }
  .skills {

    .container {
      // background-color: red;
      // height: auto;
      // width: 100%;
      // position: static;
      .text-container {
        // position: static;
        // width: 100%;
        // top:3rem;
        // left: 0;
        // transform: translate(0%, 0%);
        // padding:none;
        // padding-top: 3rem;
        .grid{
          // position: relative;
          .col-12{

            h3 {
              // text-align:left;
            }
          }
          .col-4{

            width: 100%;
            // margin: 0 5rem;
            padding: 0;
            text-align: center;
            ul {
              li {
                &:before {
                  // content: "";
                  // display: inline-block;
                  // position: absolute;
                  // left: -1em;
                  // color: #00c7ba;
                }
              }
            }
            img{

            }
            &:last-of-type{
                padding-left: 0rem;

            }
          }
          .skillimg{
            display: none;
          }
        }
      }
    }
  }

}
