.about {
  .container {
    position: relative;
    height: 30rem;
    padding: 0 1.5rem;
    .text-container {
      width: 60rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p a{
        cursor: help;
      }
    }
  }
}
.skills {
  background-image: url("../img/greyzz/greyzz.png");
  height: auto;
  .container {
    position: relative;
    height: 40rem;
    padding: 0 1.5rem;
    .text-container {
      width: 80rem;
      position: absolute;
      top: 4rem;
      left: 50%;
      transform: translate(-50%, 0%);
      .grid{
        .col-12{
          h3 {
            text-align: center;
          }
        }
        .col-4{
          ul {
            list-style:none;
            li {
              &:before {
                // content: "";
                // display: inline-block;
                // position: absolute;
                // left: -1em;
                // color: #00c7ba;
              }
            }
          }
          img{
            width: 100%;
            opacity: 0.65;
          }
          &:last-of-type{
            padding-left: 8rem;
          }
        }
      }
    }
  }
}

@media (max-width:800px) {

  .about {
    .container {
      padding: 0 3rem;
      // background-color: red;
      .text-container {
        width: 100%;
        // margin: 0 3rem;
        position: relative;
        p a{
        }
      }
    }
  }
  .skills {

    .container {
      height: auto;
      width: 100%;
      position: static;
      .text-container {
        position: static;
        width: 100%;
        // top:3rem;
        // left: 0;
        transform: translate(0%, 0%);
        padding:none;
        padding-top: 3rem;
        .grid{
          position: relative;
          .col-12{
            padding-left: 5rem;
            h3 {
              text-align:left;
            }
          }
          .col-4{

            width: 100%;
            margin: 0 5rem;
            // padding-left: 4rem;
            ul {
              li {
                &:before {
                  // content: "";
                  // display: inline-block;
                  // position: absolute;
                  // left: -1em;
                  // color: #00c7ba;
                }
              }
            }
            img{
              display: none;
            }
            &:last-of-type{
                padding-left: 0rem;

            }
          }
        }
      }
    }
  }

}
