*{
  // outline: 1px solid black;
}

$white: #fff;
$dark_black: #111;
$light_black: #666;
$blue: #4ac1d5;
$dark_blue: #348491;
$light_grey: #f7f7f7;
$dark_grey: #c8c8c8;

.contact{
  margin-top: 5rem;
  .container{
    padding: 0 1.5rem;
    .text-container{
      text-align: center;
    }
    .grid{
      margin-top: 3rem;
      max-width: 60rem;
      margin-left: auto;
      margin-right: auto;
      .col-6{
        width: 100%;
        padding-right: 0;
        // .myinfo_container{
        //   text-align: center;
        //   // width:30rem;
        //   // float:right;
        //   // padding-top: 13%;
        //   a{
        //     color:$light_black;
        //     text-decoration: none;
        //     transition: color 0.5s ease;
        //     font-size: 3rem;
        //     margin-right: 2rem;
        //     &:hover{
        //       color:$blue;
        //     }
        //   }
        // }
        .form_container{
          width:100%;
          textarea{
            width: 100%;
          }
          .col-6{
            label,input{
              width: 100%;
            }
          }
          // float: left;
        }
      }

    }
  }
}
