/* line 12, juu.scss */
.juu .container .grid .hidden {
  width: 100%;
  display: none; }
  /* line 15, juu.scss */
  .juu .container .grid .hidden img {
    width: 100%; }

/* line 20, juu.scss */
.juu .container {
  padding: 3rem 1.5rem;
  height: 50rem;
  overflow-x: auto;
  overflow-y: hidden; }
  /* line 26, juu.scss */
  .juu .container .grid .col-5 {
    position: relative;
    height: auto; }
    /* line 29, juu.scss */
    .juu .container .grid .col-5 .text-container {
      width: 35rem;
      margin-top: 3rem;
      margin-right: 3rem;
      float: right; }
      /* line 36, juu.scss */
      .juu .container .grid .col-5 .text-container h3 {
        border-bottom: 1px solid #c8c8c8;
        line-height: 4.5rem;
        padding-bottom: 2rem; }
      /* line 41, juu.scss */
      .juu .container .grid .col-5 .text-container p {
        display: inline;
        color: #c8c8c8; }
      /* line 45, juu.scss */
      .juu .container .grid .col-5 .text-container .intro {
        color: #666;
        margin-top: 1rem;
        display: block; }
      /* line 50, juu.scss */
      .juu .container .grid .col-5 .text-container .time {
        float: right; }
      /* line 53, juu.scss */
      .juu .container .grid .col-5 .text-container .view_on_git {
        margin-bottom: 3rem; }
      /* line 56, juu.scss */
      .juu .container .grid .col-5 .text-container .tags {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0; }
        /* line 61, juu.scss */
        .juu .container .grid .col-5 .text-container .tags .tag {
          background-color: yellow;
          background: #eee;
          border-radius: 3px 0 0 3px;
          color: #999;
          height: 26px;
          line-height: 26px;
          padding: 0 20px 0 23px;
          position: relative;
          margin: 0 10px 10px 0;
          text-decoration: none;
          -webkit-transition: color 0.2s;
          float: left;
          list-style: none;
          display: inline-block; }
          /* line 76, juu.scss */
          .juu .container .grid .col-5 .text-container .tags .tag::before {
            background: #fff;
            border-radius: 10px;
            box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
            content: '';
            height: 6px;
            left: 10px;
            position: absolute;
            width: 6px;
            top: 10px; }
          /* line 87, juu.scss */
          .juu .container .grid .col-5 .text-container .tags .tag::after {
            background: #fff;
            border-bottom: 13px solid transparent;
            border-left: 10px solid #eee;
            border-top: 13px solid transparent;
            content: '';
            position: absolute;
            right: 0;
            top: 0; }
  /* line 102, juu.scss */
  .juu .container .grid .col-7 img {
    width: 95%;
    min-width: 40rem; }

/******************************************/
/* line 111, juu.scss */
.design_cycle {
  background-image: url("../img/greyzz/greyzz.png"); }
  /* line 113, juu.scss */
  .design_cycle .container {
    padding: 4rem 1.5rem; }
    /* line 115, juu.scss */
    .design_cycle .container h3 {
      text-align: center;
      margin-bottom: 3rem; }
    /* line 120, juu.scss */
    .design_cycle .container .mytimeline h5 {
      font-size: 1.5rem; }
    /* line 124, juu.scss */
    .design_cycle .container .mytimeline p {
      margin-top: 2rem;
      margin-bottom: 0; }

/******************************************/
/* line 134, juu.scss */
.mytimeline:after {
  position: relative;
  content: "";
  display: block;
  clear: both; }

/* line 140, juu.scss */
.mytimeline {
  margin-top: 10rem;
  position: relative; }
  /* line 143, juu.scss */
  .mytimeline .leftrow, .mytimeline .rightrow {
    width: 50%;
    height: auto;
    padding: 0;
    position: relative;
    /*border: 0.1rem solid #CCC;*/
    padding: 0rem;
    /*background-color: white;*/
    margin-bottom: 5rem; }
    /* line 152, juu.scss */
    .mytimeline .leftrow img, .mytimeline .rightrow img {
      width: 100%;
      border: 0.1rem solid #c8c8c8; }
  /* line 157, juu.scss */
  .mytimeline .leftrow {
    float: left; }
    /* line 159, juu.scss */
    .mytimeline .leftrow .pane {
      float: left;
      width: 90%;
      border: 0.1rem solid #c8c8c8;
      padding: 3rem;
      background-color: white;
      position: relative;
      z-index: 2; }
    /* line 169, juu.scss */
    .mytimeline .leftrow .dot {
      clear: both;
      display: block;
      position: absolute;
      top: 5rem;
      right: -0.5rem;
      z-index: 0; }
      /* line 176, juu.scss */
      .mytimeline .leftrow .dot::before {
        content: "........................";
        display: block;
        position: absolute;
        top: -0.3rem;
        font-family: Arial,sans-serif;
        line-height: 1rem;
        right: 0rem;
        z-index: -1; }
      /* line 186, juu.scss */
      .mytimeline .leftrow .dot::after {
        content: "";
        display: block;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        background: #4ac1d5;
        z-index: 1; }
  /* line 197, juu.scss */
  .mytimeline .rightrow {
    float: right;
    margin-top: 5rem; }
    /* line 200, juu.scss */
    .mytimeline .rightrow .pane {
      float: right;
      width: 90%;
      border: 0.1rem solid #c8c8c8;
      padding: 3rem;
      background-color: white;
      position: relative;
      z-index: 2; }
    /* line 209, juu.scss */
    .mytimeline .rightrow .dot {
      clear: both;
      display: block;
      position: absolute;
      top: 5rem;
      left: -0.5rem;
      z-index: 0; }
      /* line 216, juu.scss */
      .mytimeline .rightrow .dot::before {
        content: "........................";
        display: block;
        position: absolute;
        top: -0.3rem;
        font-family: Arial,sans-serif;
        line-height: 1rem;
        left: 0rem;
        z-index: -1; }
      /* line 226, juu.scss */
      .mytimeline .rightrow .dot::after {
        content: "";
        display: block;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        background: #4ac1d5;
        z-index: 1; }
  /* line 237, juu.scss */
  .mytimeline .spine {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: -5rem;
    height: 100%;
    width: 30px; }
    /* line 262, juu.scss */
    .mytimeline .spine::after {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 1px;
      margin-left: 15px;
      background-color: #c8c8c8;
      z-index: 0; }

/******************************************/
/* line 284, juu.scss */
.popout {
  transition: opacity 0.5s ease;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.75); }
  /* line 295, juu.scss */
  .popout .close {
    font-size: 5rem;
    color: white;
    line-height: 5rem;
    right: 2rem;
    position: absolute; }
  /* line 302, juu.scss */
  .popout .image_container {
    width: 80rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; }
    /* line 308, juu.scss */
    .popout .image_container img {
      width: 100%; }

/* line 314, juu.scss */
.worksclose {
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 5rem;
  height: 6rem;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.5s ease; }

/* line 324, juu.scss */
.worksclose:hover {
  opacity: 0.5; }

/* line 328, juu.scss */
.worksclose .lr {
  z-index: 10;
  width: 0.1rem;
  height: 3rem;
  margin-left: 35px;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/* line 340, juu.scss */
.worksclose .lr .rl {
  z-index: 11;
  width: 0.1rem;
  height: 3rem;
  background-color: white;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

/* line 351, juu.scss */
.clickable_image {
  cursor: zoom-in; }

/* line 354, juu.scss */
.popout img {
  cursor: zoom-out; }

/******************************************/
@media (max-width: 1120px) {
  /* line 361, juu.scss */
  .juu .container .grid .col-5 {
    width: 45%; }
    /* line 364, juu.scss */
    .juu .container .grid .col-5 .text-container {
      margin-right: 2rem; }
  /* line 368, juu.scss */
  .juu .container .grid .col-7 {
    width: 55%; }
    /* line 370, juu.scss */
    .juu .container .grid .col-7 img {
      margin-top: 10rem; } }
@media (max-width: 880px) {
  /* line 379, juu.scss */
  .juu .container {
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem; }
    /* line 384, juu.scss */
    .juu .container .grid .hidden {
      display: block; }
    /* line 387, juu.scss */
    .juu .container .grid .col-5 {
      width: 100%;
      position: relative; }
      /* line 390, juu.scss */
      .juu .container .grid .col-5 .text-container {
        float: none;
        margin-top: 0rem;
        margin-left: auto;
        margin-right: auto; }
    /* line 397, juu.scss */
    .juu .container .grid .col-7 {
      display: none; } }
@media (max-width: 640px) {
  /* line 406, juu.scss */
  .design_cycle .container .mytimeline .leftrow, .design_cycle .container .mytimeline .rightrow {
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 3rem; }
  /* line 411, juu.scss */
  .design_cycle .container .mytimeline .dot {
    display: none; }
  /* line 414, juu.scss */
  .design_cycle .container .mytimeline .pane {
    padding: 2rem;
    width: 100%; } }

/*# sourceMappingURL=juu.css.map */
