/* line 9, skeleton.scss */
section {
  width: 100%;
  clear: both; }

/* line 13, skeleton.scss */
.container {
  position: relative;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 0 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 25, skeleton.scss */
html {
  font-size: 62.5%; }

/* line 28, skeleton.scss */
body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666; }

/* Typography */
/* line 38, skeleton.scss */
h1, h2, h3, h4, h5, h6 {
  color: #111;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400; }

/* line 43, skeleton.scss */
h1 {
  font-size: 4.0rem;
  line-height: 1.25;
  letter-spacing: -.1rem; }

/* line 44, skeleton.scss */
h2 {
  font-size: 3.6rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

/* line 45, skeleton.scss */
h3 {
  font-size: 2.6rem;
  line-height: 1;
  letter-spacing: -.1rem; }

/*h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }*/
/* Larger than phablet */
/* line 60, skeleton.scss */
p {
  margin-top: 0;
  color: #666; }

/* Links */
/* line 67, skeleton.scss */
a {
  color: #4ac1d5; }

/* line 69, skeleton.scss */
a:hover {
  color: #348491; }

/* Buttons
____________________________*/
/* line 75, skeleton.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #666;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  /*border-radius: 4px;*/
  border: 1px solid #666;
  cursor: pointer;
  transition: color 0.5s ease, border-color 0.5s ease;
  box-sizing: border-box; }

/* line 98, skeleton.scss */
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #4ac1d5;
  border-color: #4ac1d5;
  outline: 0; }

/* line 111, skeleton.scss */
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: #4ac1d5;
  border-color: #4ac1d5; }

/* line 119, skeleton.scss */
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #348491;
  border-color: #348491; }

/* Forms*/
/* line 136, skeleton.scss */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  /*border-radius: 4px;*/
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
/* line 153, skeleton.scss */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* line 164, skeleton.scss */
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

/* line 168, skeleton.scss */
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #4ac1d5;
  outline: 0;
  /*background-color: rgb(255, 246, 246);*/ }

/* line 181, skeleton.scss */
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 300; }

/* line 186, skeleton.scss */
fieldset {
  padding: 0;
  border-width: 0; }

/* line 189, skeleton.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline; }

/* line 192, skeleton.scss */
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Lists*/
/* line 199, skeleton.scss */
ul {
  list-style: circle inside; }

/* line 201, skeleton.scss */
ol {
  list-style: decimal inside; }

/* line 203, skeleton.scss */
ol, ul {
  padding-left: 0;
  margin-top: 0; }

/* line 206, skeleton.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

/* line 212, skeleton.scss */
li {
  margin-bottom: 0rem; }

/* Code*/
/* line 217, skeleton.scss */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

/* line 225, skeleton.scss */
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Spacing*/
/* line 234, skeleton.scss */
button,
.button {
  margin-bottom: 1rem; }

/* line 237, skeleton.scss */
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

/* line 242, skeleton.scss */
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Misc */
/* line 258, skeleton.scss */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/*# sourceMappingURL=skeleton.css.map */
